
@media (max-width: 350px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
@media (min-width: 351px) and (max-width: 767px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}


.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}
